* {
	box-sizing: border-box;
}

/* Color Scheme:
#9f9aa4
#e7cfcd
#cfd8d7
#b5c9c3
#cab1bd */

body {
	background-color: #cfd8d7;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app-nav-brand {
	font-family: 'Bilbo Swash Caps', cursive;
	font-size: 30px;
	letter-spacing: .1em;
}

#total-applications {
	background-color: #cab1bd;
	color: #9f9aa4;
}

#decisions-pending {
	background-color: #e7cfcd;
	color: #9f9aa4;
}

#ready_review {
	background-color: #b5c9c3;
	color: #9f9aa4;
}
#decision_deny {
	background-color: #9f9aa4;
}

#messages {
	background-color: grey;
	color: #fff;
	padding: 10px;
	margin-top: 10px;
}

.hello-user {
	color: white;
}

#login {
	margin-top: 40px;
	padding-top: 20px;
}

#login-container {
	padding: 20px;
	max-width: 600px;
	height: 400px;
	border: 1px solid #9c9c9c;
	background-color: #eaeaea;
}

.main {
	margin-top: 70px;
}

login-title {
	font-size: 50px;
	font-weight: 400;
}

.form-group {
	margin-bottom: 15px;
}

.register-icons {
	margin: 5px;
}

.input-group-addon {
	padding-right: 15px;
}

.main-center {
	margin-top: 30px;
	margin: 0 auto;
	max-width: 400px;
	padding: 40px 40px;
	border: 1px solid #9c9c9c;
	border-radius: 2px;
	background-color: #eaeaea;
}

.login-button {
	margin-top: 5px;
}

.login-register {
	font-size: 16px;
	text-align: center;
}

.status-totals {
	margin-top: 20px;
	padding-top: 10px;
}

#searchform, #app_review, #apply-form {
	margin: 10px;
	padding: 20px;
	border-radius: 5px;
	border: 3px solid black;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	background-color: #e7cfcd;
}

img {
	width: 100%;
	border: 3px solid black;
}

.apply-container {
	margin-top: 20px;
	padding-top: 10px;
}

.decision-message {
	margin-top: 20px;
	padding: 10px;
}

#id_username, #id_password1, #id_password2, #reg-email > #id_email {
	width: 80%;
}

@media only screen and (min-width: 992px) {
	.hello-user {
	margin-right: 20px;
	padding-right: 20px;
}
}