{%  extends 'appStatus/main.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="apply-now">
                <h1>College Application: Apply Now</h1>
                <form id="apply-form" action="" method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input class="btn btn-success" type="submit" name="Submit" onclick=save(); id="submit">
                </form>
            </div>
        </div>
    </div>
    <div>
        <p id="msg"></p>
    </div>
    <div>
        <a href="{% url 'user-page' %}">Go Back</a>
    </div>
    

{% endblock content %}