{%  extends 'appStatus/main.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h1>College Application: Apply Now</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="user" value="{{user}}">
                    {{form}}
                    <input type="submit" name="Submit" onclick=save(); id="submit">
                </form>
            </div>
        </div>
    </div>
    <div>
        <p id="msg"></p>
    </div>
    <div>
        <a href="{% url 'user-page' %}">Go Back</a>
    </div>
    

{% endblock content %}