{%  extends 'appStatus/main.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h1>College Application: Apply Now</h1>
                <form action="" method="POST" onsubmit="Submit.disabled = true; return true;">
                    {% csrf_token %}
                    {{form}}

                    <input type="submit" name="Submit">
                </form>
            </div>
        </div>
    </div>
    

{% endblock content %}