{%  extends 'appStatus/main.html' %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<div class="container">
<div class="row">
    <div class="col-md">
        <div class="container col-md-10 offset-md-1">
            <div class="container">
                <h5>Applications</h5>
                <h6>Filter by Major and Decision Status for select applications to review</h6>
            </div>
            <form id="searchform" method='POST' action="">
                {% csrf_token %}
                {{searchform|crispy}}
                <input class="btn btn-info" type="submit" value="Submit">
            </form>
        </div>
        <div class="card card-body">
            <a class="btn btn-sm btn-info" href="{% url 'applications' %}">View All Applications</a>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>High School</th>
                    <th>Major</th>
                    <th>GPA</th>
                    <th>Decision</th>
                    <th>Review</th>
                </tr>

                {% for applicant in application %}
                <tr>
                    <td>{{applicant.name}}</td>
                    <td>{{applicant.school}}</td>
                    <td>{{applicant.major}}</td>
                    <td>{{applicant.GPA|floatformat:2}}</td>
                    <td>{{applicant.status}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'application_review' applicant.id %}">Review</a></td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

</div>
</div>

{% endblock content %}