{%  extends 'appStatus/main.html' %}

{% block content %}

<div class="container">
    <div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>High School</th>
                <th>Major</th>
                <th>GPA</th>
            </tr>
        
            {% for applicant in applicants %}
            <tr>
                <td>{{applicant.name}}</td>
                <td>{{applicant.school}}</td>
                <td>{{applicant.major}}</td>
                <td>{{applicant.GPA}}</td>
            </tr>
            {% endfor %}
        
        </table>
    </div>
    <h1>Application Review</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
    
        <input type="submit" name="Submit">
    </form>
</div>

{% endblock %}