{% extends 'appStatus/main.html' %}

{% block content %}

{% include 'appStatus/status.html' %}



<div class="container">
    <p>College Application Portal</p>

    <div>
        <h5>Applications</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Name</th>
                    <th>High School</th>
                    <th>Major</th>
                    <th>GPA</th>
                    <th>Review</th>
                    <th>Remove</th>
                </tr>

                {% for applicant in applicants %}
                <tr>
                    <td>{{applicant.name}}</td>
                    <td>{{applicant.school}}</td>
                    <td>{{applicant.major}}</td>
                    <td>{{applicant.GPA}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'application_review' applicant.id %}">Review</a></td>
                    <td><a class="btn btn-sm btn-danger" href="">Remove</a></td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

</div>

{% endblock %}
