{%  extends 'appStatus/main.html' %}

{% block content %}

<div class="container registerform">
    <div class="row main">
        <div class="main-login main-center">
            <form class="form-horizontal" method="POST" action="">
                {% csrf_token %}
                <h5 id="form-title">REGISTER ACCOUNT</h5>
                <div class="form-group">
                    <label for="name" class="control-label">Your Username</label>
                    <div class="mb-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa register-icons" aria-hidden="true"></i></span>
                            {{form.username}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="control-label">Your Email</label>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa register-icons" aria-hidden="true"></i></span>
                            {{form.email}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg register-icons" aria-hidden="true"></i></span>
                            {{form.password1}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm" class="control-label">Confirm Password</label>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg register-icons" aria-hidden="true"></i></span>
                            {{form.password2}}
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                </div>
            </form>
            {{form.errors}}
            <div class="login-register">
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
        
    </div>
</div>

{% endblock content %}


<!-- {% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">REGISTER ACCOUNT</h3>
                </div>
                <div class="d-flex justify-content-center form_container">

                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            {{form.username}}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                            </div>
                            {{form.email}}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            {{form.password1}}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            {{form.password2}}
                        </div>



                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" value="Register Account">
                        </div>

                    </form>
                </div>

                {{form.errors}}

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static '/js/main.js' %}"></script>
</html> -->