<div class="container">
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-applications">
                <div class="card-header">
                    <h5 class="card-title">Total Applications</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_applicants}}</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="decisions-pending">
                <div class="card-header">
                    <h5 class="card-title">Decisions Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{decision_pending}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="ready_review">
                <div class="card-header">
                    <h5 class="card-title">Total Accepted</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{decision_accepted}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="ready_review">
                <div class="card-header">
                    <h5 class="card-title">Total Denied</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{decision_deny}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    
    